.App {
  text-align: center;
  padding: 20px;
}

.togglebutton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.App-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.foodtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ulapp {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.liapp {
  margin-bottom: 10px;
  font-size: 16px;
}